@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.merriweather-light {
    font-family: "Merriweather", sans-serif;
    font-style: normal;
  }

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Merriweather", sans-serif;
    color: #4b4b4b;
    padding: 10px;
}

header {
    background: #8cdbff;
    border-radius: 6px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*Vertical*/
    align-items: center; /*Horizontal*/
}

#principal {
    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: #878686;
    border-radius: 6px;
    height: 100%;
    width: 74%;
}

aside {
    background-color: #86b8fac5;
    border-radius: 6px;
    height: 100%;
    width: 25%;
}

footer {
    background: #00459365;
    border-radius: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f1f1f1;
    font-size: 1.2rem;;
}

footer a {
    color:#f1f1f1;
    text-decoration: none;
    font-weight: 500;
}